.projects-container {
  margin: 40px;
}

.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}

.project-status {
  color: #207561;
  font-weight: bold;
  margin-top: 8px;
}
