body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

:root {
  --bg-color: #ffe6d5;
  --text-color: #000;
}

.dark {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
}

button {
  cursor: pointer;
}
